# Week 11 Homework

Write a class that generates fake data.

* Write the code under the py docs ( do NOT remove docs strings)
* Before comitting do a Restart & Run All

Make sure that if a dataframe is passed in, it should not remove any value from it.

In [1]:

class FakeDataGenerator:
    
    def __init__(self, df = None, rows=5):
        """
        This class generates fake data
        
        If data frame is passed in it will add the fake data to it. 
        Otherwise, it will create a new data frame
        
        Parameters:
        -----------
        df: 
          DataFrame default is None
          
        rows:
          If df None, this parameter will be used to create a data frame with `row` lenght
        """
        # code goes under this line. 
        # I will deduct points if any code is written above the comments!
        

       
        if df is not None:
            
            self.df = df
            self.rows = self.df.shape[0]
          
            
        else:
            self.df = pd.DataFrame()
            self.rows = rows
            
        
    def add_random_number(self, column_name, small_value, high_value): # optional: add probabilities 
        """
        adds fake numbers to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        arr=[]
        self.small_value=small_value
        self.hight_value= high_value
        for _ in range(self.rows):
            
            arr.append(random.randint(self.small_value, self.hight_value))
            
        self.df[column_name]= pd.Series(arr)
        
        
        return self.df       
    
        
    def add_first_name(self, column_name):
        """
        adds fake first name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        arr=[]
        for _ in range(self.rows):
            
            arr.append(fake.first_name())
       
        self.df[column_name]= pd.Series(arr)
        
        return self.df
    
    
    def add_last_name(self, column_name):
        """
        adds fake last name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        arr=[]
        for _ in range(self.rows):
            arr.append(fake.last_name())
       
        self.df[column_name]= pd.Series(arr)
        return self.df
    
    
    def add_email(self, column_name):
        """
        adds fake email to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        arr=[]
        for _ in range(self.rows):    
            
            arr.append(fake.email())
        
        self.df[column_name]= pd.Series(arr)
        return self.df
    
    
    def add_phone_number(self, column_name):
        """
        adds fake name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        arr=[]
        for _ in range(self.rows):
        
            arr.append(fake.phone_number())
            
        self.df[column_name]= pd.Series(arr)
        
        return self.df
    
    
    def add_address(self, column_name):
        """
        adds fake name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
       
        arr=[]
        for _ in range(self.rows):
            arr.append(fake.address())
            
        self.df[column_name]= pd.Series(arr)
        
        return self.df

In [2]:
from faker import Faker
fake = Faker()
import pandas as pd
import random

In [3]:

# Case 1 - existing data frame 
df = pd.DataFrame()
df['product_id'] = [i + 123 for i in range(25)]
df.head()

   product_id
0         123
1         124
2         125
3         126
4         127

In [4]:
fakeGen = FakeDataGenerator(df) # I'm creating instance using existing df
fakeGen.add_address('shipping_address')
fakeGen.add_address('billing_address')
fakeGen.add_phone_number('customer_phone')

,product_id,shipping_address,billing_address,customer_phone
0,123,50031 Cardenas Forges Suite 252\nPort Ericstad...,"9833 Ronald Route\nEast Jefferyhaven, VT 90200",+1-746-261-5877x8908
1,124,"058 Michael Spur\nPort Danielmouth, VT 55034",49918 Castillo Square Apt. 094\nEast Richardvi...,001-535-085-5723x98573
2,125,"8014 Moss Shoal\nAlexandermouth, WI 78775",16948 Robert Trail Apt. 408\nEast Jenniferberg...,(250)362-7167x7511
3,126,"3119 Yoder Drive Apt. 734\nYushire, ND 50632","01356 Patricia Hill Suite 461\nNew Josephfurt,...",(574)782-9051x91708
4,127,"1256 Spencer Parkway\nNorth John, WA 61922",695 Jacqueline Spurs Suite 014\nPort Melissasi...,3694558123
5,128,4109 Matthew Station Suite 280\nLake Jeffreyvi...,"8152 Scott Pike\nJessicaburgh, ND 43553",454-801-3074x182
6,129,"2976 David Shore Suite 522\nLake Olivia, NE 88600","471 Timothy Loop Apt. 822\nEricport, KS 22069",784.958.5655x19751
7,130,"315 Duncan Pass\nNathanbury, HI 08998",USNS Wilson\nFPO AE 73713,001-554-565-0788
8,131,"3773 Reynolds Via Suite 568\nNew Alexandra, WA...","405 Julie Turnpike\nKellyberg, AL 59281",(640)302-9504
9,132,USS Reynolds\nFPO AP 33598,"896 Alvarez Squares\nSouth Davidhaven, MS 85850",(251)213-6001
10,133,"988 Shelton Burgs\nKellyville, AR 13999","256 Tiffany Mission Apt. 720\nMortonville, CA ...",704-950-3008x92546
11,134,"6941 Michael Via Suite 855\nJohnnyton, ID 84135","8105 Victoria Centers\nNew Brandonborough, NV ...",(837)462-6088x61702
12,135,"18763 Alejandro Hill\nRobertside, MS 86912","314 Brianna Street Apt. 953\nPort Steven, GA 6...",001-471-199-2212x6896
13,136,"1740 Jenkins Vista\nWest Melissaton, AK 07520","3895 Bonnie Plain\nWarrenmouth, IA 59620",637-683-3611x9519
14,137,"92081 Ryan Forge\nSouth Donald, OR 24950","1618 Bates Plain\nEast Evan, CT 60285",924-277-3766
15,138,"5059 Bailey Trail\nKingside, WI 42126","PSC 5719, Box 7753\nAPO AP 56621",001-242-834-2331x07868
16,139,"895 Webster Mills\nTaylorton, MT 25764","7704 Thomas Junction\nWest Allisonville, VT 09077",0286159488
17,140,"30625 Jennings Square Suite 747\nEast Kim, ID ...","12131 Kenneth Isle\nWest Alec, OH 19048",933.491.5883
18,141,"07158 Taylor Crossroad Suite 600\nJustintown, ...","21480 Torres Plains\nNew Tonyahaven, OR 86945",9662505689
19,142,"393 Stone Common Apt. 224\nWendyfort, OR 04852","1573 Jackson Plains\nLouisside, TX 76558",+1-085-416-2130x5390
20,143,USS Fisher\nFPO AA 45584,"3104 Amanda Wall\nEast Joseburgh, MS 46306",(643)984-9433
21,144,Unit 1515 Box 7523\nDPO AE 96046,"326 Carr Row Apt. 419\nLindamouth, OH 64714",(188)966-9816x81617
22,145,"076 Alyssa Club Apt. 946\nEast Louisport, NE 5...","95022 Bentley Radial Apt. 813\nMigueltown, NY ...",(728)322-6789x20083
23,146,"58139 Tyler Overpass\nSouth Savannah, TN 40074","577 Hines Radial\nSouth Travisside, OR 50969",(696)777-0765
24,147,"5857 Regina Greens Suite 845\nAlisonfort, GA 2...","5702 William Port Suite 178\nRichardborough, W...",101.279.3099x083

In [5]:
# Case 2 - no dataframe

fakeGen = FakeDataGenerator() # no df
fakeGen.add_address('shipping_address')
fakeGen.add_address('billing_address')
fakeGen.add_phone_number('customer_phone')
fakeGen.add_random_number('sale_count', 10, 100)

,shipping_address,billing_address,customer_phone,sale_count
0,"194 Smith Roads Suite 179\nSouth Benjamin, NJ ...","735 Ramos Walk\nFlemingland, OR 10646",001-410-908-7420x49279,15
1,686 Michael Summit Suite 987\nNorth Richardhav...,"2472 Mary Streets Suite 753\nHollyland, AR 21712",682-919-1127,20
2,"651 Stuart Shores Suite 798\nNealborough, UT 1...","3750 Patrick Loaf\nWest Meganton, UT 45548",(362)265-9840,91
3,Unit 0449 Box 5068\nDPO AE 69909,"02516 Gonzalez Meadow\nLake Nancyside, TX 94823",001-601-538-2447x930,50
4,"37323 Maria Cape\nPort Williamside, AL 98435","803 Carr Plains Apt. 650\nAnthonychester, OR 7...",(375)119-3869,87