# Lab

Using the flights dataframe answer the following questions

1. When do the first and last flights leave each day?

2. When there is a missing value in `dep_time` then this is an indication of canceled flight. Find the number of cancelled flights for each (`carrier`, `origin`) combination.

3. Which carrier has the worst `dep_delay`s? 

4. Which plane (`tailnum`) has the worst on-time record?

5. For each plane, count the number of flights before the first delay of greater than 1 hour.

In [11]:
import pandas as pd


url = 'https://raw.githubusercontent.com/mguner/teaching/main/datasets/nyc_flights/nyc_flights.csv'

##read the file
flights = pd.read_csv(url)

In [12]:
flights.shape

(336776, 19)

In [13]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year            336776 non-null  int64
 1   month           336776 non-null  int64
 2   day             336776 non-null  int64
 3   dep_time        328521 non-null  float64
 4   sched_dep_time  336776 non-null  int64
 5   dep_delay       328521 non-null  float64
 6   arr_time        328063 non-null  float64
 7   sched_arr_time  336776 non-null  int64
 8   arr_delay       327346 non-null  float64
 9   carrier         336776 non-null  object
 10  flight          336776 non-null  int64
 11  tailnum         334264 non-null  object
 12  origin          336776 non-null  object
 13  dest            336776 non-null  object
 14  air_time        327346 non-null  float64
 15  distance        336776 non-null  int64
 16  hour            336776 non-null  int64
 17  minute          336776 non-null  int64
 18  time_hour       336776 non-null  object
dtypes: float64(5), int64(9), object(5)
memory usage: 48.8+ MB

In [14]:
flights.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z

In [15]:
#When do the first and last flights leave each day?

def first_last(df):
    return df.iloc[[0, -1]]

grouped_by_month_day = flights.groupby(['month', 'day']).apply(first_last)

grouped_by_month_day

                  year  month  day  dep_time  sched_dep_time  dep_delay  \
month day
1     1   0       2013      1    1     517.0             515        2.0
          841     2013      1    1       NaN             600        NaN
      2   842     2013      1    2      42.0            2359       43.0
          1784    2013      1    2       NaN            1601        NaN
      3   1785    2013      1    3      32.0            2359       33.0
...                ...    ...  ...       ...             ...        ...
12    29  109551  2013     12   29       NaN            1505        NaN
      30  109552  2013     12   30       1.0            2359        2.0
          110519  2013     12   30       NaN             855        NaN
      31  110520  2013     12   31      13.0            2359       14.0
          111295  2013     12   31       NaN             830        NaN

                  arr_time  sched_arr_time  arr_delay carrier  flight tailnum  \
month day
1     1   0          830.0             819       11.0      UA    1545  N14228
          841          NaN             901        NaN      B6     125  N618JB
      2   842        518.0             442       36.0      B6     707  N580JB
          1784         NaN            1735        NaN      UA     623     NaN
      3   1785       504.0             442       22.0      B6     707  N763JB
...                    ...             ...        ...     ...     ...     ...
12    29  109551       NaN            1811        NaN      UA     455     NaN
      30  109552     441.0             437        4.0      B6     839  N508JB
          110519       NaN            1142        NaN      UA    1506     NaN
      31  110520     439.0             437        2.0      B6     839  N566JB
          111295       NaN            1154        NaN      UA     443     NaN

                 origin dest  air_time  distance  hour  minute  \
month day
1     1   0         EWR  IAH     227.0      1400     5      15
          841       JFK  FLL       NaN      1069     6       0
      2   842       JFK  SJU     189.0      1598    23      59
          1784      EWR  ORD       NaN       719    16       1
      3   1785      JFK  SJU     193.0      1598    23      59
...                 ...  ...       ...       ...   ...     ...
12    29  109551    EWR  MIA       NaN      1085    15       5
      30  109552    JFK  BQN     198.0      1576    23      59
          110519    EWR  JAC       NaN      1874     8      55
      31  110520    JFK  BQN     189.0      1576    23      59
          111295    JFK  LAX       NaN      2475     8      30

                             time_hour
month day
1     1   0       2013-01-01T10:00:00Z
          841     2013-01-01T11:00:00Z
      2   842     2013-01-03T04:00:00Z
          1784    2013-01-02T21:00:00Z
      3   1785    2013-01-04T04:00:00Z
...                                ...
12    29  109551  2013-12-29T20:00:00Z
      30  109552  2013-12-31T04:00:00Z
          110519  2013-12-30T13:00:00Z
      31  110520  2014-01-01T04:00:00Z
          111295  2013-12-31T13:00:00Z

[730 rows x 19 columns]

In [32]:
#When there is a missing value in dep_time then this is an indication of canceled flight.
#Find the number of cancelled flights for each (carrier, origin) combination.

df=flights[flights.dep_time.isnull()][['carrier','origin','dep_time']]
df.

       carrier origin  dep_time
838         EV    EWR       NaN
839         AA    LGA       NaN
840         AA    LGA       NaN
841         B6    JFK       NaN
1777        EV    EWR       NaN
...        ...    ...       ...
336771      9E    JFK       NaN
336772      9E    LGA       NaN
336773      MQ    LGA       NaN
336774      MQ    LGA       NaN
336775      MQ    LGA       NaN

[8255 rows x 3 columns]

In [17]:
# Which carrier has the worst dep_delays?

flights.groupby('carrier').dep_delay.max().sort_values(ascending=False)

carrier
HA    1301.0
MQ    1137.0
AA    1014.0
DL     960.0
F9     853.0
9E     747.0
VX     653.0
FL     602.0
EV     548.0
B6     502.0
US     500.0
UA     483.0
WN     471.0
YV     387.0
AS     225.0
OO     154.0
Name: dep_delay, dtype: float64

In [18]:
#Which plane (tailnum) has the worst on-time record?

flights.groupby('tailnum').dep_delay.max().sort_values(ascending=False)

tailnum
N384HA    1301.0
N504MQ    1137.0
N517MQ    1126.0
N338AA    1014.0
N665MQ    1005.0
           ...
N728SK       NaN
N768SK       NaN
N862DA       NaN
N865DA       NaN
N939DN       NaN
Name: dep_delay, Length: 4043, dtype: float64

In [21]:
flights[flights.dep_delay > 25]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
85,2013,1,1,732.0,645,47.0,1011.0,941,30.0,UA,1111,N37456,EWR,MCO,145.0,937,6,45,2013-01-01T11:00:00Z
96,2013,1,1,749.0,710,39.0,939.0,850,49.0,MQ,3737,N508MQ,EWR,ORD,148.0,719,7,10,2013-01-01T12:00:00Z
119,2013,1,1,811.0,630,101.0,1047.0,830,137.0,MQ,4576,N531MQ,LGA,CLT,118.0,544,6,30,2013-01-01T11:00:00Z
135,2013,1,1,826.0,715,71.0,1136.0,1045,51.0,AA,443,N3GVAA,JFK,MIA,160.0,1089,7,15,2013-01-01T12:00:00Z
151,2013,1,1,848.0,1835,853.0,1001.0,1950,851.0,MQ,3944,N942MQ,JFK,BWI,41.0,184,18,35,2013-01-01T23:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336757,2013,9,30,2159.0,1845,194.0,2344.0,2030,194.0,9E,3320,N906XJ,JFK,BUF,50.0,301,18,45,2013-09-30T22:00:00Z
336759,2013,9,30,2207.0,2140,27.0,2257.0,2250,7.0,MQ,3660,N532MQ,LGA,BNA,97.0,764,21,40,2013-10-01T01:00:00Z
336760,2013,9,30,2211.0,2059,72.0,2339.0,2242,57.0,EV,4672,N12145,EWR,STL,120.0,872,20,59,2013-10-01T00:00:00Z
336762,2013,9,30,2233.0,2113,80.0,112.0,30,42.0,UA,471,N578UA,EWR,SFO,318.0,2565,21,13,2013-10-01T01:00:00Z
336763,2013,9,30,2235.0,2001,154.0,59.0,2249,130.0,B6,1083,N804JB,JFK,MCO,123.0,944,20,1,2013-10-01T00:00:00Z

In [44]:
# For each plane, count the number of flights before the first delay of greater than 1 hour.

def my_delay_funct(group):
    print(group)
    return group.dep_delay > 60



grouped_delay = flights.groupby('day').transform(my_delay_funct)
grouped_delay

0         2013
1         2013
2         2013
3         2013
4         2013
          ...
309915    2013
309916    2013
309917    2013
309918    2013
309919    2013
Name: year, Length: 11036, dtype: int64

AttributeError: 'Series' object has no attribute 'dep_delay'